@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@100;200&family=Josefin+Sans:ital,wght@0,100;1,300&family=Playfair+Display:ital@0;1&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500;1,700&family=Sacramento&display=swap');
*{
margin: 0;
padding: 0;
}

.header{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.image-wrapper{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: rgb(14, 12, 12);
}
.image-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 50%;
    filter: blur(4px);
    animation: zoom 25s infinite;
}
@keyframes zoom{
     0%{
         transform: scale(1.3);
     }
     50%{
         transform: scale(1);
     }
     100%{
         transform: scale(1.3);
     }
}

.text button{
    font-size: 1rem;
    text-shadow: 0px 0px 2px black;
    padding: 1rem 2.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    color: white;
    background: #b92b27;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #1565C0, #b92b27);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #1565C0, #b92b27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.text button:hover{
    opacity: 0.7;
    animation: click 1s;
    animation-fill-mode: forwards;
}
@keyframes click{
    from{
        border-radius: 7px;
    }
    to{
        border-radius: 25px;
        font-size: 1.03rem;
        padding: 1.1rem 2rem;
    }
}
.text h1{
    font-family: Sacramento, serif;
    color: rgb(218, 218, 218);
    text-shadow: 1px 1px 3px rgb(0, 0, 0);
    font-size: 2.2rem;
    margin-bottom: 2rem;
    font-weight: 100;
    animation: movetext 2.5s;
}
.text p{
    font-family:'Courier New', Courier, monospace;
    text-shadow: 1px 1px 3px rgb(0, 0, 0);
    animation: movetext 3s;
}
.text{
    font-family: Roboto , serif;
    font-weight: 500;
    font-size: 2.5rem;
    position: absolute;
    color: rgb(218, 218, 218);
    top: 25%;
    left: 15%;
    animation: movetext 2s;
}
@keyframes movetext {
    0%{
        transform: translateY(-50rem);  
    }
    100%{
        transform: translateY(0rem);
    }
}
